div:hover{
		border-color: red;
		}
.div1{
	margin: 3px;
	border: 1px;
	border-style: solid;
	border-color: black;
	display: inline-block;
	padding-left: 15px;
	padding-right: 15px;
	}
p{
	color: red;
}
.vnd{
	font-weight: bold;
}